#########################
# folder
#########################
/emacs/emacs.d/auto-save-list/
/emacs/emacs.d/eshell/

#########################
# files
#########################
/emacs/emacs.d/session.*
*.dat
.*
